rdflib
sentence-transformers
nltk
numpy
torch
torchao
faiss-cpu
pyoxigraph 
rapidfuzz
Levenshtein
py_horned_owl
rank-bm25

##AMD Linux install
#/home/linuxbrew/.linuxbrew/bin/python3.12 -m pip uninstall torch torchvision torchaudio -y
